<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Remote Control</title>
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body ng-app="radioControl">
    <div class="container">
      <div class="prominent" ng-if="page == 'create_1'" ng-controller="CreateCommand1Ctrl">
        <p class="big-text blink" ng-click="nextPage()">Waiting for signal …</p>
        <p class="small-text">Simply press a button on your radio remote control.</p>
      </div>

      <div class="prominent" ng-if="page == 'create_2'" ng-controller="CreateCommand2Ctrl">
        <form ng-submit="create()">
          <input class="big-input" ng-model="command" type="text" placeholder="Enter a name …" required autofocus>
        </form>
      </div>

      <div class="content ng-cloak" ng-controller="CommandsListCtrl" ng-if="!page">
        <a class="record-link" speech-input callback="findAndExecute"><span>Say a command</span></a>
        <a class="btn" ng-repeat="command in commands" ng-click="findAndExecute(command.name)">{{command.name}}</a>
        <a class="btn add" ng-click="goToCreate()">+ Add a command</a>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/underscore.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>